<section id="rodape">
<h4 class="texto">Entre em contato conosco:</h4>
    <div id="cel">
      <div class="email">
        <p class="texto">Email: fake@fake.com</p>
      </div>
      <div class="tel">
        <p class="texto">Telefone: (14) 1234-5678 ou (14) 9999-9999</p>
      </div>
    </div>
    <h5 class="texto">Nossas redes sociais:</h5>

    <div id="footer-flex">
      <div>
        <img id="redes-sociais" src="assets/img/facebook.png" alt="">
      </div>

      <div>
        <img id="redes-sociais" src="assets/img/youtube.png" alt="">
      </div>

      <div>
        <img id="redes-sociais" src="assets/img/linkedin.png" alt="">
      </div>

      <div>
        <img id="redes-sociais" src="assets/img/instagram.png" alt="">
      </div>

      <div>
        <img id="redes-sociais" src="assets/img/twitter.png" alt="">
      </div>

      <div>
        <img id="redes-sociais" src="assets/img/whatsapp.png" alt="">
      </div>

    </div>
</section>